
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 80%;
    width: 600px;
    object-fit: cover;
    align-self: start;
}

.swiper-slide{
    flex-shrink: 100 !important;
    width: fit-content;
    background-color: transparent;
}

.swiper-slide:not(.swiper-slide-active){
    filter: brightness(.5);
}

.swiper-horizontal>.swiper-scrollbar-horizontal{
    right: 1%;
    left: auto;
    width: 50%;
    background-color: gray;
}

.swiper-scrollbar-drag{
    background-color: darkslateblue;
}
