.container {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    display: block;
    z-index: 99999;
    top: 0;
}

.navbar {
    top: 0;
    max-width: 1140px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    text-decoration: none;
    color: #3abf4c;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.menu > li > a {
    text-decoration: none;
    text-underline-offset: 5px;
}

.menu > li > a {
    text-decoration: none;
    text-underline-offset: 5px;
}

.menu {
    display: flex;
    padding-left: 0;
}

.menu > li {
    display: flex;
    align-items: stretch;
}

.menu > li:last-child > a{
    padding-right: 0;
}

.menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color:#3abf4c;
}

.menu > li > a:hover {
    color: #bbd3be;
    transition: 1s;
}